* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(./image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section {
    height: 80vh;
    width: 80%;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 35%;
    height: 70vh;
    border-radius: 25px;
    padding: 25px;
    background: linear-gradient(135deg,
            rgba(135, 206, 235, 0.35),
            rgba(0, 191, 255, 0.25));

    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.3),
        inset 0 0 20px rgba(255, 255, 255, 0.08);

    color: white;

}

.box:hover {
    box-shadow:
        0 10px 40px rgba(0, 191, 255, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.1);
}

.heading {
    margin-bottom: 14px;
}

.input-field {
    margin-bottom: 8px;
}

.input-field input {
    margin-top: 8px;
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 6px;
}

.btn {
    background: #002d6b;
    color: white;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #001d47;
}

.login-box p {
    font-size: 14px;
}

.account-switch {
    margin-top: 18px;
}

.switch-page-btn a {
    text-decoration: none;
    color: white;

}

.switch-page-btn {
    text-align: center;
    border: none;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    padding: 4px 10px;
    border-radius: 6px;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.switch-page-btn:hover {
    background: linear-gradient(135deg, #009dff, #0056d6);
}






@media (max-width: 768px){

   .box{
      width: 50%;
      height: auto;
   }

}

@media (max-width: 576px){

   .box{
      width: 90%;
      padding:14px;
   }

   p{
font-size: small;
   }

   h1{
      font-size:28px;
   }

}